{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Pairwhen: A <strong>Simple & Fast</strong> Pair Programming Scheduling Tool</h1>
    <p><b>Step One:</b> Pick your times to send a link to your pair.</p>
    <p><b>Step Two:</b> Once your pair confirms a time that works for them, you'll get an email.</p>
    <p>(Different time zones? Pairwhen will automatically translate).</p>
    {% if current_user %}
      <form action="/meeting/new">
        <button type="submit">Schedule Pairing</button>
      </form>
    {% else %}
      <form action="/signup">
        <button type="submit">Schedule Pairing</button>
      </form>
    {% endif %}
</div>
{% endblock %}
